<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CTAGS Improved</string>
	<key>ordering</key>
	<array>
		<string>CBB8D157-305C-420D-8A68-197A0FDC320F</string>
		<string>7FA78A1E-B63E-4BBA-BC24-0D78261037B6</string>
	</array>
	<key>uuid</key>
	<string>C05A809D-1BEB-4093-80DB-A28C456D0D6E</string>
</dict>
</plist>
